<?xml version="1.0"?>
<!-- created with Phobos 1.0.1 "Capricious Choutengan" -->
  <robot name="lower_hemisphere">

    <link name="lower_hemisphere">
      <inertial>
        <origin xyz="0 0 -0.105" rpy="0 0 0"/>
        <mass value="0.2"/>
        <inertia ixx="0.16328" ixy="0.00117" ixz="0" iyy="0.16328" iyz="0" izz="0.19766"/>
      </inertial>
      <visual name="node2">
        <origin xyz="0 0 -0.21" rpy="1.5708 0 0"/>
        <geometry>
          <mesh filename="../meshes/dae/Part__Feature074.dae" scale="10.0 10.0 10.0"/>
        </geometry>
        <material name="Part__Feature074"/>
      </visual>
      <collision name="node2.000">
        <origin xyz="0 0 -0.21" rpy="1.5708 0 0"/>
        <geometry>
          <mesh filename="../meshes/dae/Part__Feature074.001.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <material name="Part__Feature074">
      <color rgba="0.8 0.8 0.8 1.0"/>
    </material>

  </robot>
