<?xml version="1.0"?>
<!-- created with Phobos 1.0.1 "Capricious Choutengan" -->
  <robot name="outer_sphere">

    <link name="outer_sphere">
      <inertial>
        <origin xyz="0 0 -0.28206" rpy="0 0 0"/>
        <mass value="0.4"/>
        <inertia ixx="0.38672" ixy="0.00039" ixz="0" iyy="0.38672" iyz="0" izz="0.39023"/>
      </inertial>
      <visual name="node2">
        <origin xyz="0 0 -0.38706" rpy="1.5708 0 0"/>
        <geometry>
          <mesh filename="../meshes/dae/Part__Feature074.dae" scale="10.0 10.0 10.0"/>
        </geometry>
        <material name="Part__Feature074"/>
      </visual>
      <visual name="node3">
        <origin xyz="0 0 -0.17706" rpy="1.5708 0 0"/>
        <geometry>
          <mesh filename="../meshes/dae/Part__Feature075.dae" scale="10.0 10.0 10.0"/>
        </geometry>
        <material name="Part__Feature075"/>
      </visual>
      <collision name="node2.000">
        <origin xyz="0 0 -0.38706" rpy="1.5708 0 0"/>
        <geometry>
          <mesh filename="../meshes/dae/Part__Feature074.001.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
      <collision name="node3.000">
        <origin xyz="0 0 -0.35706" rpy="1.5708 0 0"/>
        <geometry>
          <mesh filename="../meshes/dae/Part__Feature075.001.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>

    <material name="Part__Feature074">
      <color rgba="0.8 0.8 0.8 1.0"/>
    </material>

    <material name="Part__Feature075">
      <color rgba="0.8 0.8 0.8 1.0"/>
    </material>

  </robot>
